.env
.env.hard
.idea/

# Uploads
custom/data/upload/

# Python
compose/wrapper/__pycache__

# Other files to me ignored
custom/**/*.gz
custom/**/*.mo
custom/**/*.log
custom/**/*.pem
custom/**/*.zip
custom/**/*.pdf
custom/**/*.tgz
